@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  position: relative;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 54px;
  background-color: rgb(33, 33, 33);
  z-index: 1;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 67px;
}
@media (max-width: 1200px) {
  .header_items {
    padding: 18px 20px;
  }
}
@media (max-width: 767.98px) {
  .header_items {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.7s all;
    -o-transition: 0.7s all;
    transition: 0.7s all;
  }
  .header_items__active {
    left: 0;
  }
}

.header_item {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .header_item {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .header_item {
    margin: 15px 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 5px 0px;
  }
}
@media (max-width: 767.98px) {
  .header_item a {
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
}

.header_item:not(:last-child) {
  border-right: 2px dashed #000;
  padding: 0px 35px 0px 0px;
}
@media (max-width: 1200px) {
  .header_item:not(:last-child) {
    padding: 0px 40px 0px 0px;
  }
}
@media (max-width: 1050px) {
  .header_item:not(:last-child) {
    padding: 0px 30px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .header_item:not(:last-child) {
    border-right: none;
  }
}
@media (max-width: 767.98px) {
  .header_item:not(:last-child) {
    padding: 0;
  }
}

.header_link {
  display: block;
}

.burger {
  display: none;
}
@media (max-width: 767.98px) {
  .burger {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    width: 26px;
    height: 12px;
  }
  .burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }
}

.burger__active {
  display: none;
}
@media (max-width: 767.98px) {
  .burger__active {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    width: 26px;
  }
  .burger__active span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: -2px;
    -webkit-transition: 0.7s all;
    -o-transition: 0.7s all;
    transition: 0.7s all;
  }
  .burger__active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .burger__active span:nth-child(2) {
    display: none;
  }
  .burger__active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

.subheader {
  position: absolute;
  top: 54px;
  width: 100%;
  min-height: 87px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.subheader_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 96px;
}
@media (max-width: 991.98px) {
  .subheader_block {
    padding: 18px 30px;
  }
}
@media (max-width: 767.98px) {
  .subheader_block {
    padding: 20px 8px;
  }
}
@media (max-width: 576px) {
  .subheader_block {
    padding: 8px 2px;
  }
}

.subheader_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 576px) {
  .subheader_name {
    max-width: 240px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.subheader_logo img {
  width: 100%;
}

.subheader_logo {
  width: 100%;
}
@media (max-width: 767.98px) {
  .subheader_logo {
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 5px;
    margin-right: 40px;
    width: 250px;
  }
}
@media (max-width: 576px) {
  .subheader_logo {
    padding-top: 20px;
    margin-right: 10px;
    width: 200px;
  }
}

.subheader_title {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 5px;
}
@media (max-width: 767.98px) {
  .subheader_title {
    display: none;
  }
}

.subheader_contacts {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .subheader_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subheader_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.subheader_subtitle {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 3px;
}
@media (max-width: 767.98px) {
  .subheader_subtitle {
    display: none;
  }
}

.subheader_tel {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 7px;
}
@media (max-width: 767.98px) {
  .subheader_tel {
    font-size: 17px;
    margin-left: 20px;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .subheader_tel {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .subheader_tel {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.subheader_btn {
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.subheader_btn:hover {
  background: none;
  background-color: #1EACC7;
}
@media (max-width: 767.98px) {
  .subheader_btn {
    width: 130px;
    height: 35px;
  }
}
@media (max-width: 576px) {
  .subheader_btn {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}

.promo {
  width: 100%;
  min-height: 800px;
  background: url("../img/bg_promo.jpg") center center/cover no-repeat;
  padding: 152px 0px 185px 0px;
}
@media (max-width: 991.98px) {
  .promo {
    padding-bottom: 20px;
    min-height: 600px;
  }
}
@media (max-width: 767.98px) {
  .promo {
    padding-bottom: 20px;
    min-height: 500px;
  }
}

.promo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .promo_block {
    padding: 0px 20px;
  }
}
@media (max-width: 991.98px) {
  .promo_block {
    padding: 0px 10px;
  }
}
@media (max-width: 767.98px) {
  .promo_block {
    padding: 0px 5px;
  }
}
.promo_block h1 {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1050px) {
  .promo_block h1 {
    font-size: 55px;
  }
}
@media (max-width: 991.98px) {
  .promo_block h1 {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .promo_block h1 {
    font-size: 45px;
  }
}
.promo_block h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 1050px) {
  .promo_block h2 {
    font-size: 31px;
  }
}
@media (max-width: 991.98px) {
  .promo_block h2 {
    font-size: 26px;
  }
}
@media (max-width: 767.98px) {
  .promo_block h2 {
    font-size: 21px;
  }
}

.promo_text {
  max-width: 985px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-indent: 50px;
  margin-bottom: 116px;
}
@media (max-width: 1050px) {
  .promo_text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 100px;
  }
}
@media (max-width: 991.98px) {
  .promo_text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .promo_text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 50px;
  }
}

.promo_btn {
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.promo_btn:hover {
  background: none;
  background-color: #1EACC7;
}

.reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0px 64px 0px;
}
.reason_block h3 {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 16px;
}
@media (max-width: 1050px) {
  .reason_block h3 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .reason_block h3 {
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .reason_block h3 {
    font-size: 17px;
  }
}

.reason_title, .mobile_title {
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-bottom: 32px;
}

.reason_items {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
@media (max-width: 767.98px) {
  .reason_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
}
@media (max-width: 1090px) {
  .reason_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767.98px) {
  .reason_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.reason_img {
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}
@media (max-width: 1090px) {
  .reason_img {
    margin-bottom: 20px;
  }
}
.reason_content {
  max-width: 371px;
  -ms-flex-item-align: start;
      align-self: start;
}
@media (max-width: 1090px) {
  .reason_content {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 767.98px) {
  .reason_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}

.reason_subtitle {
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
  margin-bottom: 7px;
}
.reason_text {
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
.mobile {
  min-height: 864px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile h3 {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 1px;
}
@media (max-width: 1050px) {
  .mobile h3 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .mobile h3 {
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .mobile h3 {
    font-size: 17px;
  }
}

.mobile_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 20px 80px 20px;
}

.mobile_title {
  margin-bottom: 33px;
}

.mobile_subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
  margin-bottom: 30px;
}

.mobile_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 19px;
}

.mobile__cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}
@media (max-width: 767.98px) {
  .mobile__cont {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 576px) {
  .mobile__cont {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.mobile_item {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 85px 0px 34px 0px;
}

.mobile_item__1 {
  background: url("../img/mobile_1.png") center center/cover no-repeat;
}

.mobile_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_plus {
  position: relative;
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.mobile_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
}
.mobile_plus::after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  position: absolute;
}
.mobile_plus:hover::before {
  background-color: #FF5656;
}
.mobile_plus:hover::after {
  background-color: #FF5656;
}

.mobile_item__2 {
  background: url("../img/mobile_2.png") center center/cover no-repeat;
}

.mobile_item__3 {
  background: url("../img/mobile_3.png") center center/cover no-repeat;
}

.mobile_item__4 {
  background: url("../img/mobile_4.png") center center/cover no-repeat;
}

.mobile_item__5 {
  background: url("../img/mobile_5.png") center center/cover no-repeat;
}

.mobile_item__6 {
  background: url("../img/mobile_6.png") center center/cover no-repeat;
}

.choice {
  min-height: 896px;
  background: url("../img/choice_bg_1.png") 0 0/100% 499px no-repeat, url("../img/choice_bg_2.png") 0 500px/100% 397px no-repeat;
  padding: 55px 0px 137px 0px;
}
@media (max-width: 991.98px) {
  .choice {
    min-height: 700px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767.98px) {
  .choice {
    min-height: 500px;
    padding-bottom: 50px;
  }
}

.choice__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice__label {
  width: 115px;
  height: 27px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #070716;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.choice__title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1px;
}
@media (max-width: 1050px) {
  .choice__title {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .choice__title {
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .choice__title {
    font-size: 17px;
  }
}

.choice__subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.choice__img img {
  width: 100%;
}

.choice__text {
  width: 327px;
  height: 49px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}
@media (max-width: 430px) {
  .choice__text {
    display: none;
  }
}
@media (max-width: 365px) {
  .choice__text {
    display: block;
    color: white;
  }
}

.conditions {
  padding: 66px 0px 26px 0px;
}
@media (max-width: 767.98px) {
  .conditions {
    padding-bottom: 0;
  }
}

.conditions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.conditions__label {
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27px;
}

.conditions__title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 33px;
}
@media (max-width: 1050px) {
  .conditions__title {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .conditions__title {
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .conditions__title {
    font-size: 17px;
  }
}

.conditions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -20px;
}

.conditions__block {
  padding: 0px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 61px;
}
@media (max-width: 767.98px) {
  .conditions__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }
}

.conditions__subtitle {
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
  margin-bottom: 10px;
}

.conditions__list {
  margin-bottom: 10px;
  padding: 0px 0px 0px 50px;
}

.conditions__link {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 5px;
}

.conditions__link::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 21px;
  height: 20px;
  background-image: url("../icons/conditions_icons.png");
}

.conditions__link_red::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 21px;
  height: 20px;
  background-image: url("../icons/conditions_icons_2.png");
}

.conditions__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
}

.conditions__red {
  color: #FF5656;
}

.world {
  min-height: 717px;
  background-color: #080816;
}
@media (max-width: 991.98px) {
  .world {
    min-height: 500px;
  }
}
@media (max-width: 767.98px) {
  .world {
    min-height: 360px;
  }
}

.world__bg {
  height: 100%;
  max-width: 1440px;
  margin: 0px auto;
  background: url("../img/world_bg2.png") 0 0/cover no-repeat;
}

.world__wrap {
  min-height: 716px;
  padding: 48px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .world__wrap {
    min-height: 500px;
  }
}
@media (max-width: 767.98px) {
  .world__wrap {
    min-height: 360px;
    padding-bottom: 20px;
  }
}

.world__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world__label {
  width: 79px;
  height: 27px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #070716;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.world__title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 2px;
}
@media (max-width: 1050px) {
  .world__title {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .world__title {
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .world__title {
    font-size: 17px;
  }
}

.world__subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
}

.world__link {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

.footer {
  width: 100%;
  padding: 12px 22px 14px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .footer {
    padding: 7px 5px;
  }
}

.footer__line {
  width: 301px;
  height: 7px;
  background: #1FBAD6;
  margin-bottom: 31px;
}
@media (max-width: 767.98px) {
  .footer__line {
    width: 250px;
    height: 3px;
  }
}

.footer__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1150px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__networks {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1150px) {
  .footer__networks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .footer__networks {
    width: 100%;
  }
}

.footer__network {
  width: 35px;
  height: 35px;
  background: #070716;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__network span {
  color: white;
}

.footer__network:not(:last-child) {
  margin-right: 6px;
}

.footer__links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1070px) {
  .footer__links {
    width: 60%;
  }
}
@media (max-width: 767.98px) {
  .footer__links {
    width: 100%;
  }
}

.footer__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 20px;
}
@media (max-width: 576px) {
  .footer__main {
    padding: 0px 0px;
  }
}

.footer__main a {
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 400px) {
  .footer__main a {
    font-size: 12px;
  }
}

.footer__support {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .footer__support {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.footer__support a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
@media (max-width: 576px) {
  .footer__support a {
    margin: 0px 10px 20px 10px;
  }
}

.footer__language {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  margin-bottom: 20px;
}

.footer__market {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1150px) {
  .footer__market {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .footer__market {
    margin-bottom: 20px;
  }
}